/* testimonials.module.css */
@keyframes leftslideAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rightslideAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* 
.firstCont,
.thirdCont {
  animation: leftslideAnimation 1s forwards;
}
.secondCont {
  animation: rightslideAnimation 1s forwards;
} */
.animationClass {
  font-family: "Aladin", sans-serif;
}

.leftSlideAnimation {
  animation: leftslideAnimation 1.5s forwards;
}

.rightSlideAnimation {
  animation: rightslideAnimation 1.5s forwards;
}
